:root {
    --SuperDarkGrey: #101010;
    --lightCyan: #01fff6;
    --darkCyan: #013d3b;
    --midCyan: #009d97;
    --orange: #ee421a;
    --darkOrange: #c92600;
    --transparentLightOrange: #ff7c241e;
    --text:#FF7B24;
}

@font-face {
    font-family: 'tekolight';
    src: url('fonts/teko-light-webfont.woff2') format('woff2'),
         url('fonts/teko-light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: none;
}

* {
    box-sizing: border-box;
    margin:0;
}

html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--SuperDarkGrey);
    margin: 0;
    font-size: 1.2em;
}

header {
    background-color: var(--SuperDarkGrey);
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@keyframes fade-in {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(100px, 0, 0);
      transform: translate3d(100px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }

  }

  .fade-in-element {
    animation: fade-in 1s;
  }

  .hidden {
    opacity: 0;
  }

.backgroundColour {
    color: var(--transparentLightOrange);
} 

.statsDescription {
    display: inline-block;
    width: 180px;
    text-align: left;
}

.stats {
    font-size:2em;
    line-height: 1.3;
}

.statsContainer {
    margin-left:100px;
}

.textBlock {
    text-align: justify;
    margin: auto;
}

/* FONTS */

h1, h2, h3, h4, h5, h6, a {
    font-family: 'tekolight', Arial, Helvetica, sans-serif;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 3em;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    color: var(--text);
    letter-spacing: 3px;
}
.headline {
    margin:0px 0px 50px 0px;
}

p.preHeading {
    font-size: 2em;
    font-family: 'tekolight', Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}

.mainHeading {
    font-size: 5em;
}

q, p, #myAge {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    line-height: 1.5;
}

a {
    font-size: 2em;
    line-height:1.5;
    color: var(--text);
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
}

a.textLink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:#ffffff ;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
}

.darkText {
    color: var(--SuperDarkGrey) !important;
}

/* LISTS & NAV */

#openMenuButton {
   display:none;
}

.closeMenuButton {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 20px;
    color: #101010;
}

.mobileMenu {
    padding-top: 100px;
    transition: ease-in-out 500ms;
    position: fixed;
    transform: translateX(300px);
    top: 0;
    bottom: 0;
    right: 0;
    width: 220px;
    background-color: var(--text);
    box-shadow: 0px 0px 20px 5px #101010;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-item-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.rightBracket, .leftBracket {
    line-height: 1.5;
    color: var(--text);
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
    font-family: 'tekolight';
    font-size: 1.5em;
    position: absolute;
    transition: linear 200ms;
}

.leftBracket {
    left: 0;
}

.rightBracket {
    right: 0;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul#verticalMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    padding-left: 30px;
    padding-right: 30px;
    letter-spacing: 3px;
    font-size: 1.5em;
    text-transform: uppercase;
}

.menu-item-container:hover span.leftBracket {
    left: 15px;
}

.menu-item-container:hover span.rightBracket {
    right: 18px;
}

.verticalLinkPadding {
    padding-top:10px;
    padding-bottom: 10px;
}

/* CONTENT */


section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    margin:auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#featured {
    display: block;
    min-height: 0;
    overflow: hidden;
}

.centerContainer {
    width: 728px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.center {
    align-items: center;
}

.hobbiesPersonality {
    margin-top:100px;
    width:688px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-block {
    margin-bottom:100px;
}

#logo {
    position: absolute;
    margin:10px;
    width:100px;
    filter: brightness(285%);
}
.portrait {
    transition: 2s;
    width: 500px;
    height: 500px;
    position:relative;
    overflow: hidden;
}

#portraitContainer {
    width: 500px;
    height: 500px;
    position: relative;
}

.portraitLayer
{
    transition: 2s;
    position: absolute;
    width:100%;
    transform: translateY(0%);
}

img#me {
    border-radius: 50%;
    filter: hue-rotate( 
    19deg);
    max-width: 500px;
}

/* PORTFOLIO SLIDER */

.carousel {
    background-image: linear-gradient(to right, #c94000 , #FF7B24);
    padding-top: 200px;
    padding-bottom: 200px;
    outline:none;
    overflow: hidden;
  }
  
  .carousel-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: grab;
    padding: 25px;
    border-radius: 25px 100px;
    width: 500px;
    margin-right: 50px;
    background: var(--SuperDarkGrey);
    counter-increment: gallery-cell;
    align-items: stretch;
    min-height: 900px;
}
  
/* FEATURED PORTFOLIO */

.portfolioImage {
    width: 100%;
    border-radius:10px 75px 0 0;
}

.featureProjectTitle {
    color: white;
    font-family: 'tekolight', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: 25px;
    letter-spacing: 3px;
}

.featureProjectSubTitle {
    color: var(--text);
    font-family: 'tekolight', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 3px;
}

.featureProjectDescription {
    color: white;
    font-size: 1em;
    margin-bottom: 25px;
}

.gitProjectLinkContainer {
    font-size:2em;
    bottom: 20px;
}

/* FOOTER */

#footerlogo {
    width: 200px;
    filter: brightness(285%);
}

.footer-link {
    text-decoration: none;
    padding-top:10px;
    padding-bottom: 10px;
    display: block;
}

.footer-heading {
    font-size: 2em;
    color: var(--text);
    margin-bottom: 25px;
}

footer{
    background-color: var(--SuperDarkGrey);
    width: 100%;
}

#footer-section {
    display:flex;
    flex-direction: row;
    width: 1266px;
    margin:auto;
    padding: 100px 10px 100px 10px;
    flex-wrap: wrap;
}

.footer-block {
    width: 25%;
    padding: 20px;
    text-align: center;
}

/* FOOTER SOCIAL BAR */

#socialIcons {
    border-top: 1px solid var(--transparentLightOrange);
    text-align: center;
}

.fa{
    border-radius: 50%;
    padding: 15px;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    background: var(--text);
    color: #202020;
    transition: 500ms;
    margin: 20px;
}

.fa:hover {
    background: var(--darkOrange);
}

/* SCROLL BAR */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
border-left: 1px solid black;
}

::-webkit-scrollbar-thumb {
    background: var(--text);
    border-left: 1px solid black;
}

/* ANIMATED LOGO */

#left-bracket, #right-bracket {
    font-family: 'tekolight', Arial, Helvetica, sans-serif;
}

#animated-logo-container {
    display: flex;
    flex-direction:row;
   text-align: center;
   position: fixed;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.alSubContainer{
    min-width: 80px;
    text-align: center;
}

.animated-logo {
    font-size: 200px;
    font-family: 'tekolight', Arial, Helvetica, sans-serif;
    font-weight: light;
    padding: 0;
    margin: 0;
    color: var(--text);
}

.animated-logo2 {
    font-size: 150px;
    font-family: 'tekolight', Arial, Helvetica, sans-serif;
    font-weight: light;
    padding: 0;
    margin: 0;
    color: var(--SuperDarkGrey);
    animation: ease-in-out 2s;
}

#leftBracketContainer {
    position: relative;
    left:0;
}

#rightBracketContainer {
    position: relative;
    right:0;
}

/* HELPER CLASSES*/

.marginBelow {
    margin-bottom: 100px;
}

.hide {
    display:none;
}

.hidden {
    opacity: 0;
}

.inlineBlock {
    display: inline-block;  
}

.textAlignCenter {
    text-align: center;
}

.fixed {
    position: fixed;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.whiteText {
    color: white;
}


/* MOBILE OPTIMISATION */

@media only screen and (min-width: 0px) and (max-width: 480px) {

    .statsDescription {
        width: 140px;
    }

    .stats {
        font-size: 1.2em;
    }

    .mainHeading {
        font-size: 4em;
    }

    section {
        width: 100%;
        margin-top: 200px;
        margin-bottom: 200px;
        min-height: 0vh;
        display: flex;
        /* margin: auto; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img#me {
        width: 100%;
    }

    header {
        position: absolute;
    }

    .centerContainer{
        width: 100%;
    }
    
    /* FOOTER */

    #footerlogo {
        width: 100px;
    }

    .footer-link {
        text-decoration: none;
        padding-top:10px;
        padding-bottom: 10px;
        display: block;
    }

    .footer-heading {
        font-size: 2em;
        color: var(--text);
        margin-bottom: 25px;
    }

    footer{
        background-color: var(--SuperDarkGrey);
        width: 100%;
    }

    #footer-section {
        width: 100%;
    }

    .footer-block {
        width: 100%;
        min-height: 0px;
        margin-bottom: 100px;
    }

    .footer-item-container {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .flex-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .statsContainer {
        margin-left: 0px;
    }

    img#me {
        margin-bottom: 100px;
    }
    .centerContainer {
        text-align: center;
    }

    .hobbiesPersonality {
        margin-top: 100px;
        width: 100%;
        text-align: center;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .mobile-space {
        margin-bottom: 100px;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {

    .textBlock {
        max-width: 600px;
    }

    .stats {
        font-size: 1.2em;
    }

    .mainHeading {
        font-size: 4em;
    }

    img#me {
        width: 100%;
    }

    header {
        position: relative;
    }

    .centerContainer{
        width: 100%;
    }
    
    /* FOOTER */

    #footerlogo {
        width: 100px;
    }

    .footer-link {
        text-decoration: none;
        padding-top:10px;
        padding-bottom: 10px;
        display: block;
    }

    .footer-heading {
        font-size: 2em;
        color: var(--text);
        margin-bottom: 25px;
    }

    footer{
        background-color: var(--SuperDarkGrey);
        width: 100%;
    }

    #footer-section {
        width: 100%;
    }

    .footer-block {
        width: 50%;
        min-height: 0px;
        margin-bottom: 100px;
    }

    .footer-item-container {
        width: 100%;
    }

    .container {
        width: 100%;
    }

    .flex-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .statsContainer {
        margin-left: 0px;
    }

    img#me {
        margin-bottom: 100px;
    }

    .centerContainer {
        text-align: center;
    }

    .hobbiesPersonality {
        margin-top: 100px;
        width: 100%;
        text-align: center;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .mobile-space {
        margin-bottom: 100px;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1000px) {

    .hobbiesPersonality {
        margin-top: 100px;
        width: 688px;
        text-align: center;
    }

    .textBlock {
        max-width: 600px;
    }
}

@media only screen and (max-width: 1500px) {
    #openMenuButton {
        display:block;
    }

    #menu  {
        display:none;
    }
}