/* UNRESPONSIVE STYLES */
:root {
    --SuperDarkGrey: #101010;
    --lightCyan: #01fff6;
    --darkCyan: #013d3b;
    --midCyan: #009d97;
    --orange: #ee421a;
    --darkOrange: #c92600;
    --transparentLightOrange: #ff7c241e;
    --text:#FF7B24;
}

@keyframes small-fade-right {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100px, 0, 0);
        transform: translate3d(100px, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@font-face {
    font-family: 'tekolight';
    src: url('fonts/teko-light-webfont.woff2') format('woff2'),
         url('fonts/teko-light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: none;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--SuperDarkGrey);
}

.fade-in-element {
    animation: small-fade-right 1s;
}

.fade-in-element-slow {
    animation: large-fade-right 1s;
}

.css, .html, .javascript, .react, .redux, .react-redux, .redux-toolkit, .git, .node {
    transition: 1s;
}

/* SCROLL BAR */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
border-left: 1px solid black;
}

::-webkit-scrollbar-thumb {
    background: var(--text);
    border-left: 1px solid black;
}

/* FONTS */

h1, h2, h3, h4, h5, h6, a {
    font-family: 'tekolight', Arial, Helvetica, sans-serif;
    font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 3em;
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    color: var(--text);
    letter-spacing: 3px;
}
.headline {
    margin:0px 0px 50px 0px;
}

p.preHeading {
    font-size: 2em;
    font-family: 'tekolight', Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}

.mainHeading {
    font-size: 5em;
}

q, p, #myAge {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    line-height: 1.5;
}

a {
    font-size: 2em;
    line-height:1.5;
    color: var(--text);
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
}

a.textLink {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color:#ffffff ;
    transition: 1s;
    cursor: pointer;
    text-decoration: none;
}

.darkText {
    color: var(--SuperDarkGrey) !important;
}

ul {
    list-style-type: none;
}

/* Helpers */

.hide {
    display:none;
}

.inlineBlock {
    display: inline-block;  
}

.textAlignCenter {
    text-align: center;
}

.fixed {
    position: fixed;
}

.hidden {
    opacity: 0;
}

.left-aligned-text {
    text-align: left;
}

.center {
    align-items: center;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */

@media only screen and (min-width: 0px) {
    header {
        z-index: 2;
        top: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    #logo {
        position: absolute;
        width:100px;
        filter: brightness(285%);
    }

    #openMenuButton {
        display:block;
     }

    .statsDescription {
        width: 140px;
    }

    .stats {
        font-size: 1.2em;
    }

    .mainHeading {
        font-size: 4em;
    }

    section {
        width: 100%;
        margin-top: 200px;
        margin-bottom: 200px;
        min-height: 0vh;
        display: flex;
        /* margin: auto; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        width: 100%;
    }

    .flex-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .statsContainer {
        margin-left: 0px;
    }

    .mobile-space {
        margin-bottom: 100px;
    }

    .carousel-cell {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: grab;
        padding: 5px;
        border-radius: 10px 30px;
        border: 3px solid var(--text);
        width: 250px;
        margin-right: 50px;
        background: var(--SuperDarkGrey);
        counter-increment: gallery-cell;
        align-items: stretch;
        min-height: 500px;
    }

    .portfolioImage {
        border-radius: 5px 25px 0 0;
    }

    .featureProjectTitle {
        font-size: 20px;
        margin-bottom: 0px;
        letter-spacing: 3px;
    }

    .featureProjectSubTitle {
        font-size: 16px;
    }

    .gitProjectLinkContainer {
        font-size: 16px;
    }
    .featureProjectDescription {
        font-size: 16px;
    }

    .closeMenuButton {
        position: absolute;
        top: 0;
        right: 0;
        padding-top: 10px;
        padding-right: 20px;
        color: #101010;
    }
    
    .mobileMenu {
        padding-top: 100px;
        transition: ease-in-out 500ms;
        position: fixed;
        transform: translateX(300px);
        top: 0;
        bottom: 0;
        right: 0;
        width: 220px;
        background-color: var(--text);
        box-shadow: 0px 0px 20px 5px #101010;
    }
    
    .menu-item-container {
        position: relative;
    }
    
    .rightBracket, .leftBracket {
        line-height: 1.5;
        color: var(--text);
        transition: 1s;
        cursor: pointer;
        text-decoration: none;
        font-family: 'tekolight';
        font-size: 1.5em;
        position: absolute;
        transition: linear 200ms;
    }
    
    .leftBracket {
        left: 0;
    }
    
    .rightBracket {
        right: 0;
    }
    
    #menu {
        display: none;
    }
    
    ul#verticalMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .menu-item {
        padding-left: 20px;
        padding-right: 20px;
        letter-spacing: 3px;
        font-size: 1.5em;
        text-transform: uppercase;
    }
    
    .menu-item-container:hover span.leftBracket {
        left: 12px;
    }
    
    .menu-item-container:hover span.rightBracket {
        right: 15px;
    }
    
    .verticalLinkPadding {
        padding-top:10px;
        padding-bottom: 10px;
    }
    
    /* CONTENT */
    
    section#featured {
        display: block;
        min-height: 0;
        overflow: hidden;
    }

    .centerContainer {
        margin: auto;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;
    }
    
    .hobbiesPersonality {
        margin-top:100px;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .flex-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .stat-text {
        margin-top: 50px;
    }
    /* PORTFOLIO SLIDER */
    
    .carousel {
        background-image: linear-gradient(to right, #c94000 , #FF7B24);
        padding-top: 200px;
        padding-bottom: 200px;
        outline:none;
        overflow: hidden;
      }
      
      .carousel-cell {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: grab;
        padding: 25px;
        border-radius: 25px 100px;
        width: 500px;
        margin-right: 50px;
        background: var(--SuperDarkGrey);
        counter-increment: gallery-cell;
        align-items: stretch;
        min-height: 800px;
    }
      
    /* FEATURED PORTFOLIO */
    
    .portfolioImage {
        width: 100%;
        border-radius:10px 75px 0 0;
    }
    
    .featureProjectTitle {
        color: white;
        font-family: 'tekolight', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 3em;
        margin-bottom: 25px;
        letter-spacing: 3px;
    }
    
    .featureProjectSubTitle {
        color: var(--text);
        font-family: 'tekolight', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 1.5em;
        letter-spacing: 3px;
    }
    
    .featureProjectDescription {
        color: white;
        font-size: 1em;
        margin-bottom: 25px;
    }
    
    .gitProjectLinkContainer {
        font-size:2em;
        bottom: 20px;
    }
    
    /* FOOTER */
    
    #footerlogo {
        width: 100px;
        filter: brightness(285%);
    }
    
    .footer-link {
        text-decoration: none;
        padding-top:10px;
        padding-bottom: 10px;
        display: block;
    }
    
    .footer-heading {
        font-size: 2em;
        color: var(--text);
        margin-bottom: 25px;
    }
    
    footer{
        width: 100%;
    }

    #footer-section {
        padding: 100px 0px;
        width: 100%;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .footer-block {
        text-align: center;
        width: 100%;
        margin-bottom: 100px;
    }

    .footer-item-container {
        width: 100%;
    }
    
    /* FOOTER SOCIAL BAR */
    
    #socialIcons {
        border-top: 1px solid var(--transparentLightOrange);
        text-align: center;
    }
    
    .fa{
        border-radius: 50%;
        padding: 15px;
        font-size: 2em;
        text-align: center;
        text-decoration: none;
        background: var(--text);
        color: #202020;
        transition: 500ms;
        margin: 20px;
    }
    
    .fa:hover {
        background: var(--darkOrange);
    }
    
    /* ANIMATED LOGO */
    
    #left-bracket, #right-bracket {
        font-family: 'tekolight', Arial, Helvetica, sans-serif;
    }
    
    #animated-logo-container {
        display: flex;
        flex-direction:row;
       text-align: center;
       position: fixed;
       top: 50%;
       left: 50%;
       -webkit-transform: translate(-50%, -50%);
       transform: translate(-50%, -50%);
    }
    
    .alSubContainer{
        min-width: 80px;
        text-align: center;
    }
    
    .animated-logo {
        font-size: 200px;
        font-family: 'tekolight', Arial, Helvetica, sans-serif;
        font-weight: light;
        padding: 0;
        margin: 0;
        color: var(--text);
    }
    
    .animated-logo2 {
        font-size: 150px;
        font-family: 'tekolight', Arial, Helvetica, sans-serif;
        font-weight: light;
        padding: 0;
        margin: 0;
        color: var(--SuperDarkGrey);
        animation: ease-in-out 2s;
    }
    
    #leftBracketContainer {
        position: relative;
        left:0;
    }
    
    #rightBracketContainer {
        position: relative;
        right:0;
    }
    
    /* HELPER CLASSES*/
    
    .marginBelow {
        margin-bottom: 100px;
    }
    
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .whiteText {
        color: white;
    }

    section {
        width: 100%;
        min-height: 100vh;
        display: flex;
        margin:auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fullscreen {
        width: 100%;
        height:100vh;
        background-color: #101010;
        z-index: 999;
        position: fixed;
        top: 0;
        bottom:0;
        left:0;
        right:0;
        overflow:hidden;
    }

    .statsDescription {
        display: inline-block;
        width: 150px;
        text-align: left;
        letter-spacing: 3px;
    }

    .statRow {
        font-family: 'tekolight';
        display:flex;
        flex-direction: row;
        font-size: 1.5em;
        color: var(--text);
    }

    .dark {
        opacity: .1;
    }

    .statsContainer {
        margin-left:100px;
    }

    .textBlock {
        text-align: justify;
        margin: auto;
    }

}

@media only screen and (min-width: 500px) {
    .textBlock {
        max-width: 600px;
    }

    .stats {
        font-size: 1.2em;
    }

    .mainHeading {
        font-size: 4em;
    }

    .container {
        width: 100%;
    }

    .flex-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .statsContainer {
        margin-left: 0px;
    }

    .mobile-space {
        margin-bottom: 100px;
    }

    .carousel-cell {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: grab;
        padding: 25px;
        border-radius: 20px 60px;
        border: 6px solid var(--text);
        width: 350px;
        margin-right: 50px;
        background: var(--SuperDarkGrey);
        counter-increment: gallery-cell;
        align-items: stretch;
        min-height: 600px;
    }

    .portfolioImage {
        border-radius: 10px 50px 0 0;
    }

    .featureProjectTitle {
        font-size: 20px;
        margin-bottom: 0px;
        letter-spacing: 3px;
    }

    .featureProjectSubTitle {
        font-size: 16px;
    }

    .gitProjectLinkContainer {
        font-size: 16px;
    }
    .featureProjectDescription {
        font-size: 16px;
    }

    /* FOOTER */

    #footer-section {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-block {
        width: 50%;
    }  
}

@media only screen and (min-width: 768px) {

    .textBlock {
        max-width: 600px;
    }
}

@media only screen and (min-width: 1024px) {

    /* FOOTER */

    .footer-block {
        width: 25%;
    }  
}

@media only screen and (min-width: 1266px) {
    #menu {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu-item-container {
        margin-left: 20px;
    }

    #openMenuButton {
        display:none;
    }

    header {
        position: fixed;
        background-color: var(--SuperDarkGrey);
    }

}